<nav class="navbar ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">VideoGameLibrary</a>

      <div class="" id="navbarSupportedContent">
       
        <!-- <form #form="ngForm" (ngSubmit)='onSubmit(form)' class="d-flex" role="search">
          <input name="search" class="form-control me-2" [(ngModel)]="search" type="search" placeholder="Search" aria-label="Search">
          <button class="btn " type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
  <app-home></app-home>
